{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Sign up{% endblock %}

{% block stylesheet %}
<meta name="robots" content="noindex">
{% endblock stylesheet%}

{% block content %}
<div class="">
	<div class="">
		<h3>Join</h3>

		<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
			{% csrf_token %}
			{{ form|crispy }}
			{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			{% endif %}
			<div class="text-center">
				<button type="submit" class="btn w-full disabled" id="signupBtn">Create account</button>
			</div>
		</form>

		<p class="text-center mt-3">Have an account? <a href="{{ login_url }}">Log in</a></p>

	</div>
</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/utils.js' %}"></script>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		addShowPassword("#id_password1")

		const emailInput = document.querySelector("#id_email")
		emailInput.focus()
	})

	const signupBtn = document.querySelector("#signupBtn")
	signupBtn.addEventListener('click', function () {
		if (this.form && isFormHtml5Valid(this.form, 'input')) {
			this.disabled = true
			this.textContent = "Creating..."
			this.form.submit()
		}
	})
</script>
{% endblock javascript %}