{% extends 'base.html' %}
{% load humanize %}

{% block title %}Coles{% endblock title %}

{% block content %}
<div class="flex flex-col space-y-3 items-center w-full sm:w-auto">

  <div class="flex w-full justify-between gap-2">
    {% if not is_production %}
    <a class="bg-blue-600 text-white px-4 py-2 rounded-md w-full text-center" href={% url 'coles:sync' %}>Sync</a>
    {% endif %}
    <a class="bg-blue-600 text-white px-4 py-2 rounded-md w-full text-center" href={% url 'coles:add' %}>Add</a>
  </div>

  <p class="">
    {{ object_list|length }} gift card{{ object_list|length|pluralize }}
  </p>
  {% if object_list %}
  {% for card in object_list %}

  <div class="w-full bg-white rounded-xl text-center mb-3">
    <a href="{% url 'coles:detail' card.pk %}">
      <div class="px-4 py-3 space-y-2">
        <div class="">
          <img class="w-full" src="{{ MEDIA_URL }}{{ card.barcode_filename }}.svg" alt="barcode" />
        </div>
        <div class="text-2xl tracking-wider">
          {{ card.short_card_number }}
        </div>
        <div class="text-2xl">
          PIN: {{ card.pin }}
        </div>
        <div class="text-3xl font-semibold">
          ${{ card.balance }}
        </div>
        <div class="">
          {{ card.is_last_sync_success|yesno:"Synced,Not synced" }}
        </div>
        {% if card.is_last_sync_success %}
        <div class="">
          {{ card.last_sync_time|default_if_none:"not yet" | naturaltime }}
        </div>
        {% endif %}
      </div>
    </a>
  </div>



  {% endfor %}

  {% endif %}
</div>

{% endblock content %}