{% extends 'base.html' %}
{% load humanize %}

{% block title %}Coles{% endblock title %}

{% block content %}
<div class="flex flex-col space-y-4 items-center w-full sm:w-auto">

  <div class="flex w-full justify-between gap-2">
    {% if not is_production %}
    <a class="bg-blue-600 text-white px-4 py-2 rounded-md w-full text-center" href={% url 'coles:sync' %}>Sync</a>
    {% endif %}
    <a class="bg-blue-600 text-white px-4 py-2 rounded-md w-full text-center" href={% url 'coles:add' %}>Add</a>
  </div>

  <p class="">
    {{ object_list|length }} gift card{{ object_list|length|pluralize }}
  </p>
  {% if object_list %}
  {% for card in object_list %}

  <div class="w-full bg-white rounded-xl text-center mb-3">
    <a href="{% url 'coles:detail' card.pk %}">
      <div class="px-4 py-3 space-y-2">
        <div class="flex ">
          <svg id="card_{{ card.id }}"></svg>
        </div>

        <div class="text-2xl tracking-wider">
          {{ card.short_card_number }}
        </div>
        <div class="text-2xl">
          PIN: {{ card.pin }}
        </div>
        <div class="text-3xl font-semibold">
          ${{ card.balance }}
        </div>
        <div class="">
          {{ card.is_last_sync_success|yesno:"Synced,Not synced" }}
        </div>
        {% if card.is_last_sync_success %}
        <div class="">
          {{ card.last_sync_time|default_if_none:"not yet" | naturaltime }}
        </div>
        {% endif %}
      </div>
    </a>
  </div>
  {% endfor %}

  {% endif %}


</div>

{% endblock content %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.11.5/barcodes/JsBarcode.code128.min.js"
  integrity="sha512-TCwEy6ri6RyKTeAaYyKK17oq+caW8w9DMJxI/fYX2p2ZRcuNKotXa8Lu9j5vsqCbddAc6FEVE7K9zeMnk0Q4gw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  const cards = [
    {% for card in object_list %}
  {
    id: "{{ card.id }}",
      card_number: "{{ card.card_number }}",
      },
  {% endfor %}
  ];
  console.log(cards)
  cards.forEach((card) => {
    JsBarcode(`#card_${card.id}`, card.card_number, { format: "CODE128", displayValue: false, height: "80" });
  })

</script>
{% endblock javascript %}