{% load static %}

<nav>
  <header class="border-b border-gray-300">
    <div class="bg-white flex items-center justify-between pl-3 pr-3 py-2 h-12">
      <div class="flex items-center">
        <a class="px-1 py-1 font-semibold text-black hover:text-black" href="/">
          <span class="">Giftcard</span>
        </a>
      </div>
      <div class="">
        {% if request.user.is_authenticated %}
        <a class="text-black hover:text-black block px-3 py-2 ml-2 text-center rounded-lg border-none"
          href="{% url 'coles:list' %}">Coles</a>
        {% endif %}
      </div>

      <div>
        <div>
          <div class="">
            {% if request.user.is_authenticated %}
            <button id="dropdownBtn" type="button"
              class="inline-flex items-center justify-center w-full px-4 py-2  text-black hover:text-black focus:outline-none focus:ring-0"
              id="options-menu" aria-expanded="true" aria-haspopup="true" style="touch-action: manipulation;">
              <!-- Heroicon name: solid/user-circle -->
              <svg id="notification" xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-gray-300"
                viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                  clip-rule="evenodd" />
              </svg>
            </button>
            {% else %}
            <div class="flex">
              <a class="text-black hover:text-black block px-3 py-1 ml-2 text-center rounded-lg font-medium border-2 border-blue-500 hover:bg-gray-100"
                href="{% url 'account_signup' %}">Sign up</a>
              <a class="text-black hover:text-black block px-3 py-1 ml-2 text-center rounded-lg border-none hover:bg-gray-100"
                href="{% url 'account_login' %}">Log in</a>
            </div>
            {% endif %}
          </div>

          {% if request.user.is_authenticated %}
          <div id="dropdownMenu" class="opacity-0 pointer-events-none">
            <div id="dropdownMenuOverlay" class="z-40 absolute w-full h-full bg-black opacity-0 top-0 left-0">
            </div>
            <div
              class="z-40 origin-top-right absolute right-0 sm:right-4 mt-0 w-56 rounded-xl shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
              role="menu" aria-orientation="vertical" aria-labelledby="options-menu">

              <div class="mr-3 my-2">
                {% if request.user.is_superuser %}
                <a class="block px-3 py-2 ml-2 text-center rounded-lg border-none hover:bg-gray-100"
                  href="{% url 'admin:index' %}" target="_blank" rel="noopener noreferrer">
                  Admin
                </a>
                {% endif %}

                <a class="block px-3 py-2 ml-2 text-center rounded-lg border-none hover:bg-gray-100"
                  href="{% url 'profiles:user' request.user.slug %}">
                  Hi, <b>{{ user.firstname_or_username }}</b>
                </a>

                <a class="block px-3 py-2 ml-2 text-center rounded-lg border-none hover:bg-gray-100"
                  href="{% url 'account_logout' %}">
                  Log out</a>

              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>

    </div>

  </header>
</nav>

<script>
  const dropdownBtn = document.querySelector('#dropdownBtn')
  const dropdownMenu = document.querySelector('#dropdownMenu')

  dropdownBtn.addEventListener('click', () => {
    toggleDropdownMenu();
  })
  dropdownMenuOverlay.addEventListener('click', () => {
    toggleDropdownMenu();
  })

  function toggleDropdownMenu() {
    dropdownMenu.classList.toggle('opacity-0')
    dropdownMenu.classList.toggle('pointer-events-none')
  }

</script>