{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ u.get_username }}
{% if u.get_full_name %}
({{ u.get_full_name }})
{% endif %}
{% endblock title %}

{% block content %}
<div class="">
  <div class="">
    <h3 class="">Profile</h3>

    <div class="rounded-lg border border-gray-300 shadow-sm py-3 px-6">
      <div class="">
        <div class="">
          <span class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-blue-200">{{ u.initial
            }}</span>
        </div>

        <div class="">
          <span class="">{{ u.get_full_name }}</span>
          <span class="">({{ u.get_username|truncatechars:18 }})</span>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock content %}